// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #4dbf66;
  --ion-color-primary-rgb: 77,191,102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #44a85a;
  --ion-color-primary-tint: #b0dabf;
  
  --ion-color-secondary: #4dbfbf;
  --ion-color-secondary-rgb: 77,191,191;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #44a8a8;
  --ion-color-secondary-tint: #5fc5c5;

  --ion-color-tertiary: #429f56;
  --ion-color-tertiary-rgb:  77,191,102;
  --ion-color-tertiary-contrast: #fafafa;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #2f733e;
  --ion-color-tertiary-tint: #a9d3b8;
 /* --ion-color-tertiary: #6e9677;
  --ion-color-tertiary-rgb: 110,150,119;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #618469;
  --ion-color-tertiary-tint: #7da185;

*/
  --ion-color-success: #0c9844;
  --ion-color-success-rgb: 12,152,68;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0b863c;
  --ion-color-success-tint: #24a257;

  --ion-color-warning: #FFBC59;
  --ion-color-warning-rgb: 255,188,89;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0a54e;
  --ion-color-warning-tint: #ffc36a;

  --ion-color-danger: rgb(253, 88, 59);
  --ion-color-danger-rgb: 255,128,107;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e0715e;
  --ion-color-danger-tint: #ff8d7a;

  --ion-color-dark: #0c4365;
  --ion-color-dark-rgb: 12, 67, 101;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0a3a58;
  --ion-color-dark-tint: #26526f;


  --ion-color-medium: #10618e;
  --ion-color-medium-rgb: 16,97,142;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #0e557d;
  --ion-color-medium-tint: #287199;

  --ion-color-light: #29aae3;
  --ion-color-light-rgb: 41,170,227;
  --ion-color-light-contrast: #ebebeb;
  --ion-color-light-contrast-rgb:255,255,255;
  --ion-color-light-shade: #2496c8;
  --ion-color-light-tint: #3eb3e6;

  --ion-color-amarillo: #fdfd44;
  --ion-color-amarillo-rgb: 253,253,68;
  --ion-color-amarillo-contrast: #020202;
  --ion-color-amarillo-contrast-rgb: 0,0,0;
  --ion-color-amarillo-shade: #dfdf55;
  --ion-color-amarillo-tint: #ffffb0;
  
  /* variables cambiantes por proyecto */
  --toolbar:#039be5;
  --dineroReportes:#56989c;
  --nombresReportes:#608096;
  --backgroundGeneral:#eceff1;
  --letras:#11243c;
  --carritoSelect:#cdffd1;
  --invOpsCard:#ceefff;
  
  --colorTicketReporte:#dce8ff;
  --obscurecerBajo:#00000014;
  --obscurecerAlto:#0000006b;
  --fondoAbonos:#c7f8d2;
  --backgroundMenu: #220b0b;
  --hoverMenu:#e9e9e924;
  //1e9adf
}
.ion-color-amarillo{
  --ion-color-base: var(--ion-color-amarillo) !important;
    --ion-color-base-rgb: var(--ion-color-amarillo-rgb) !important;
    --ion-color-contrast: var(--ion-color-amarillo-contrast) !important;
    --ion-color-contrast-rgb: var( --ion-color-amarillo-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-amarillo-shade) !important;
    --ion-color-tint: var(--ion-color-amarillo-tint) !important;
}