<ion-app>
  <ion-split-pane>
    <ion-menu >
      <!-- <ion-header>
        <div style="padding: 8px;">
            <img src="assets/imagenes/logo.jpg"  class="imagenItem" >
        </div>
      </ion-header> -->
      <ion-content class="menu">
        <div style="margin:1%">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" >
            <ion-item class="itemMenu" [routerDirection]="'root'" [routerLink]="[p.url]" lines="none">
              <ion-icon class="icono" [ngClass]="p.class"  slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.titulo}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          
        </div>
      </ion-content>
      <div class="footerLogo">
        <img src="assets/imagenes/logoQtech.png" class="logo">
        <div class="info">
            <img class="iconos" src="assets/icon/tel.png">
            <p>77654193</p>
            <img class="iconos" src="assets/icon/mail.png">
            <p>contacto@quetzaltech.net</p>
        </div>
        <div class="info">
            <img class="iconos" src="assets/icon/whatsapp.png">
            <p>59231542</p>
            <img class="iconos" src="assets/icon/fb.png">
            <p>facebook.com/quetzaltech</p>
        </div>
      </div>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
