<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Reportes</ion-title>
    <div class="opsWrapper">
        <div class="ops">
            <label >Costos:</label>
             <ion-toggle color="primary" slot="end" [(ngModel)]="costos"></ion-toggle>        
         </div>
         <div class="ops">
             <ion-button color="primary" (click)="generarPdf()"  >
                <ion-icon name="document"></ion-icon><ion-icon name="download"></ion-icon></ion-button>
         </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content  [@animacionPagina]>
  <div class="fechaYOpsWrapper">
      <div class="fecha">
        <ion-label >
          Desde
        </ion-label>		 	
        <my-date-picker class="fixedPicker"  [options]="myDatePickerOptions"
          (dateChanged)="dateInitChanged($event)" [ngModel]="datePickerInicio"></my-date-picker>
      </div>
      <div class="fecha">
          <ion-label  >
          Hasta
        </ion-label>			 	
        <my-date-picker [options]="myDatePickerOptions"
          (dateChanged)="dateEndChanged($event)"  [ngModel]="datePickerFin"></my-date-picker>
      </div> 
  </div> 

 <div *ngIf="datosVenta" [@animacionNgIf] >
   <div no-padding no-margin class="noMarginXs" class="itemsCreditos" *ngFor="let venta of ventas  ">
      <div class="metaData">
        {{comun.capitalizar(venta.vendedor.usuario)}} {{venta.fecha.toDate() | date: "'Hora:' H:mm 'Fecha:' dd/MM"}} 
      </div>
     <div class="ventaWrapper">
        <div class="datosVenta">
          <!-- <label style="color:#333">
            Artículos: 
          </label>         -->
          <div *ngFor="let item of venta.items">
              <div class="itemsEnVenta"> 
                <div class="datosObligados">
                    <span class="datosItem"><ion-icon name="arrow-dropdown"></ion-icon> {{item.unidades}} - {{item.nombre}} - {{item.marca}}  </span>
                    <span class="totalItem"> Q.{{item.precio}} = Q.{{item.precio * item.unidades}}</span>                    
                </div>
                 <div class="datosExtra">
                   Categoría: {{item.tipo}} &nbsp; Código:{{item.codigo}}
                   <ng-container *ngIf="costos" > &nbsp; Costo: Q.{{item.costo * item.unidades}} </ng-container>
                 </div>
              </div>
          </div>
          <div style="padding: 6px 10px;" >
            <span class="clienteVenta" *ngIf="venta.cliente"  > {{comun.capitalizar(venta.cliente.nombre)}}</span>
            <span class="totalVenta"><small>Total Q.</small>{{venta.total}}</span>
          </div>

        </div>
        <div class="bordeEliminar" (click)="eliminarVenta(venta)">
          <ion-icon name="trash" ></ion-icon>
        </div>
     </div>

   </div>

 </div>
 <div *ngIf="datosVenta" [@animacionNgIfDelay] class="divGastos">
   <label class="etiqueta">Gastos:</label>
   <div *ngFor="let gasto of gastos" class="gastosWrapper" >
     <div class="dataWrapper">
       <ion-icon name="md-cash" class="icon"></ion-icon>
       <div class="data nombre">            
         <label >              
           {{gasto.concepto}}    
          </label>
        </div>
        <div class="flexBox">
          <div class="data tel">            
            <label> {{gasto.fecha.toDate() | date: "'Hora:' H:mm 'Fecha:' dd/MM"}}</label>
          </div>
          <div class="data permisos">
            <label  ><small>Q: </small> {{gasto.cantidad}}</label>
          </div>
          <div *ngIf="gasto.notas"  class="data usuario">            
            <label ><small>Notas: </small> {{gasto.notas}} </label>
          </div>
        </div>
      </div>
      <div  (click)="borrarGasto(gasto.id)" class="bordeEliminar"  >
        <ion-icon name="trash"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
    <div class="footerDeTotales" >
      <div class="totales">
        <span class="total">Ventas: <small>Q.</small>{{total}}</span>
      </div>
      <div *ngIf="costos" class="totales">
        <span class="costo">
             Costos: <small>Q.</small>{{totalCosto}} 
        </span>             
      </div>
      <div class="totales">
          <span class="gasto">
            Gastos: <small>Q.</small>{{totalGastos}}
          </span>
      </div>
      <div  class="totales">
        <span *ngIf="costos" class="margen">
          Margen: <small>Q.</small>{{total-totalCosto-totalGastos}}
        </span>
        <span *ngIf="!costos" class="margen">
            Margen: <small>Q.</small>{{total-totalGastos}}
        </span>
      </div>
    </div>
</ion-footer>